body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

/* Main */
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/* Card */
.card {
  margin-top: -110px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-title {
  margin-top: -25px;
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #042D53;
  font-family: "Poppins", sans-serif;
}
.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Log */
@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

/* button */

#btn{
  background-color: #012970;
  border-color: #FFFFFF;
}



